.leftDrawer .ant-drawer-body{
    background-color: black;
}
.toggleBtn{
    position: absolute;
    left:0px;
    top:30px;
    font-size: large;
    padding: 10px;
    color: white;
    background-color: black;
}
.toggleBtnActive{
    position: absolute;
    left:271px;
    top:30px;
    font-size: large;
    padding: 10px;
    color: white;
    background-color: black;
}