/* .sideBar{
    position: fixed;
    width: 270px;
    height: 100%;
    left: -270px;
    background-color: red;
    z-index: 1;
    transition: 0.5s;
    display: inline-block;
} */
.leftDrawer .ant-drawer-body{
    background-color: black;
}
.toggleBtn{
    position: absolute;
    left:0px;
    top:30px;
    font-size: large;
    padding: 10px;
    color: white;
    background-color: black;
}
.toggleBtnActive{
    position: absolute;
    left:271px;
    top:30px;
    font-size: large;
    padding: 10px;
    color: white;
    background-color: black;
}
.sideBarActive{
    position: fixed;
    width: 270px;
    height: 100%;
    background-color: red;
}

.ant-menu-item-selected.a{
    background-color: #0EC469 !important;
    color: red;
  }

  .a{
      color: red !important;
  }
