/* html,
.
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
::-webkit-scrollbar {
  width: 5px;
}
/* ::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */
::-webkit-scrollbar-thumb {
  background: rgb(16, 185, 129); 
}

.mainhome{
  background-image: linear-gradient(rgba(14, 30, 37, 0.8), rgba(14, 30, 37, 0.5)),url('https://res.cloudinary.com/ashakthi/image/upload/v1635835584/samples/protfolio/background5_nps3d9.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  /* background-color: #10121b; */
  background-color: rgb(14, 30, 37);
}
.ant-menu-item-selected{
  background-color: rgb(16, 185, 129) !important;
}

.ant-menu-item:hover{
  background-color: rgba(16, 185, 129,0.5) !important;
}

.fontTitle{
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-family: inherit;
  font-weight: 500;
  color: white;
}
.font3xl{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-family: inherit;
  font-weight: 500;
  color: white;
}
.font2xl{
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: inherit;
  font-weight: 400;
  color: white;
}
.fontxl{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: inherit;
  font-weight: 400;
  color: white;
}
.fontlg{
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: inherit;
  font-weight: 400;
  color: white;
}
.fontmd{
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: inherit;
  font-weight: 300;
  color: white;
}
.titleUnderline {
  /* background-color:#14EC9A; */
  background-color: #0EC469;
  height: 5px;
  width: 100px;
  animation-name: title;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes title{
  0%   {background-color:#0EC469; height: 5px; width: 10px;;}
  100% {background-color:#3BEE0E; height: 5px; width: 100px;}
}
/* .ant-drawer-mask{
  opacity: 0 !important;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;


